<div class="container">
  <div class="row mb-5">
      <div class="col">
          <h1 class="display-1">Projects<a class="btn btn-primary ms-5" href="/app/projects/create">Skapa nytt</a></h1>
      </div>
  </div>
    <div class="row">
        <div class="col col-md-6">
            <h2>Dina projekt</h2>

            <div class="list-group">
                {{#if projects.length}}

                    {{#each projects}}
                        <a href="/app/projects/{{this.id}}" class="list-group-item list-group-item-action"><i class="bi bi-kanban me-2"></i>{{this.name}}</a>
                    {{/each}}

                {{else}}

                    <p>Inga projekt ännu</p>

                {{/if}}
            </div>

        </div>
        <div class="col col-md-6">
            <h2>Delade med dig</h2>

            <div class="list-group">
                {{#if sharedProjects.length}}

                    {{#each sharedProjects}}
                        <a href="/app/projects/{{this.id}}" class="list-group-item list-group-item-action"><i class="bi bi-kanban me-2"></i>{{this.name}}</a>
                    {{/each}}

                {{else}}
                    <p>Inga projekt ännu</p>
                {{/if}}

            </div>

        </div>
    </div>
</div>
 