<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <h1>Dela projekt med användare</h1>
            {{#if users.length}}
                <form method="POST">
                    {{> csrfToken}}

                    <input type="hidden" name="projectId" value="{{projectId}}">

                    <label for="userList" class="form-label">Sök användare</label>
                    <input class="form-control" list="userList" id="userId" name="userId" placeholder="Skriv för att söka..." value="{{userId}}">   
                    <div class="form-text mb-3">Du kan söka med antingen namn eller användarens ID</div> 
                    
                    <datalist id="userList" name="allUsers">
                        {{#each users}}
                            <option value="{{this.id}}">{{this.firstName}} {{this.lastName}}</option>
                        {{/each}}
                    </datalist>

                    <button class="btn btn-primary" type="submit">Dela</button>
                </form>
            {{else}}
                <p>Inga användare hittades</p>
            {{/if}}
        </div>
    </div>
</div>