{{#unless errors.length}}

    <div class="container">
        <div class="row mb-5">
            <div class="col-md-6">
                <h1 class="mb-3">{{project.name}}</h1>
            </div>
            <div class="col-md-12 d-flex justify-content-md-end align-items-center">
                <a class="btn btn-primary me-3" href="/app/projects/{{project.id}}/delete"><i class="bi bi-trash"></i>Ta bort projekt</a>
                <a class="btn btn-primary me-3" href="/app/projects/{{project.id}}/update"><i class="bi bi-trash"></i>Uppdatera projekt</a>
                <a class="btn btn-primary me-3" href="/app/projects/{{project.id}}/usersWithAccess"><i class="bi bi-people me-2"></i>Användare med tillgång</a>
                <a class="btn btn-primary" href="/app/projects/{{project.id}}/share"><i class="bi bi-person-plus-fill me-2"></i>Dela</a>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 d-flex justify-content-between">
                <h2 class="mb-3">Uppgifter</h2>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-md-end">
                <a class="btn btn-primary" href="/app/projects/{{project.id}}/tasks/create"><i class="bi bi-plus-circle me-2"></i>Skapa uppgift</a>
            </div>
        </div>
        <div class="row">
            <div class="col">

                {{#if tasks.length}}
                    <div class="list-group">
                    
                        {{#each tasks}}
                            <a href="/app/projects/{{projectId}}/tasks/{{this.id}}" class="list-group-item list-group-item-action" aria-current="true">
                            <div class="d-flex w-100 justify-content-between">
                                <h3 class="mb-1">{{this.title}}</h3>
                                <small>3 days ago</small>
                            </div>
                            <p class="mb-1">{{this.description}}</p>
                            </a>
                        {{/each}}

                    </div>

                {{else}}
                    <p>Inga uppgifter ännu</p>    
                {{/if}}

            </div>
        </div>
    </div>
    
{{/unless}}
 