{{> errors}}
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
  <h1 class="display-1 text-center">{{task.title}}</h1>
  <h1 class="display-5 text-center">Tasks of project: </h1>
      <h4 class="display-8">Description of Task</h1>
      <p>{{task.description}}</p>
  <h4 class="display-8">Date of task submitted: </h1>
      <p>{{task.creationDate}}</p>
  </ul>
    
  <a href = "/app/project/{{projectId}}/task/{{task.id}}/create-comment">Comment on this task</a>
  <table>
        <tr>
            <th>Comment:</th>
            <th>Date: </th>
        </tr>
            {{#each comment}}
            <tr>
                <td>{{this.text}}</td>
                <td>{{this.creationDate}}</td>
            </tr>
            {{/each}}
    </table>
</body>
 