{{> errors}}

<div class="container">
    <div class="row mb-5">
        <div class="col">
            <h1 class="display-1">{{task.title}}</h1>
        </div>
    </div>
    <div class="row">
        <h2 class="display-5">Tasks</h2>
    </div>
</div>
      <h4 class="display-8">Description of Task</h1>
      <p>{{task.description}}</p>
  <h4 class="display-8">Date of task submitted: </h1>
      <p>{{task.creationDate}}</p>
  </ul>
    
  <a href = "/app/projects/{{projectId}}/tasks/{{task.id}}/create-comment">Comment on this task</a>
  <table>
        <tr>
            <th>Comment:</th>
            <th>Date: </th>
        </tr>
            {{#each comment}}
            <tr>
                <td>{{this.text}}</td>
                <td>{{this.creationDate}}</td>
            </tr>
            {{/each}}
    </table>
 