<h1>{{task.title}}</h1>
<p>{{task.description}}</p>
  <h4 class="display-8">Skapad</h1>
      <p>{{task.createdAt}}</p>
  </ul>
  <h4 class="display-8">Status</h5>
    {{#if task.isCompleted}}
        <div class="alert alert-success" role="alert">
            Avklarad
        </div>
    {{/if}}
  <a class="btn btn-primary mb-3" href="/app/projects/{{projectId}}/tasks/{{task.id}}/create-comment">Kommentera</a>

{{#if comments.length}}
  <div class="list-group">
        {{#each comments}}
            <div class="list-group-item list-group-item-action" aria-current="true">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{this.authorId}}</h5>
                    <small>{{this.createdAt}}</small>
                </div>
                <p class="mb-1">{{this.text}}</p>
            </div>
        {{/each}}
  </div>
{{/if}}

    {{#unless task.isCompleted}}
        <form action="./{{task.id}}/complete-task" method="POST">
            {{> csrfToken}}
            <button type="submit" class="btn btn-primary">Klarmarkera</button>
        </form>
    {{/unless}}
 